@main("About Us") {
@helpers.navBar()
@helpers.mainBanner()
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <p> Foo bar wizz bang, foo  foo info</p>
            <p> Foo bar wizz bang, foo  foo info</p>
            <p> Foo bar wizz bang, foo  foo info</p>
            <p> Foo bar wizz bang, foo  foo info</p>
            <p> Foo bar wizz bang, foo  foo info</p>
            <p> Foo bar wizz bang, foo  foo info</p>
        </div>
        <div class="col-4">
            <h4>Opening Hours</h4>
            <ul>
                <li>
                    Mondays - Fridays: 8:00 - 17:00
                </li>
                <li>
                    Saturdays: 9:00 - 12:00
                </li>
                <li>
                    Sundays: Closed
                </li>
            </ul>
            <h4>Contact info</h4>
            <ul>
                <li>
                   01234567891011
                </li>
            </ul>
        </div>
    </div>
</div>
}