@(message: String)

@main("Macrome Garage") {
<style>
    .mainBody {
    padding-top: 200px;
    }
</style>
@helpers.navBar()
@helpers.mainBanner(true)


<div class="container-fluid mainBody">
    <div class="row">
        <div class="col">
            <h2>Foo Bar Wizz</h2>
            <p> More foo More foo More foo More foo More foo More foo More foo More foo More foo More foo</p>
            <button type="button" class="btn btn-secondary">Learn More >></button>
        </div>
        <div class="col">
            <h2>Foo Bar Wizz1</h2>
            <p> More foo More foo More foo More foo More foo More foo More foo More foo More foo More foo</p>
            <button type="button" class="btn btn-secondary">Learn More >></button>
        </div>
        <div class="col">
            <h2>Foo Bar Wizz2</h2>
            <p> More foo More foo More foo More foo More foo More foo More foo More foo More foo More foo</p>
            <button type="button" class="btn btn-secondary">Learn More >></button>
        </div>
    </div>
</div>
}
